language: python
dist: xenial
python:
  - "3.6"
  - "3.7"
env:
  - DJANGO=20
  - DJANGO=21
  - DJANGO=22
  - DJANGO=master

matrix:
  fast_finish: true
  allow_failures:
    - env: DJANGO=master

install: pip install tox-travis codecov
before_script:
  - |
    if [[ -z $TOXENV ]]; then
      export TOXENV=py$(echo $TRAVIS_PYTHON_VERSION | sed -e 's/\.//g')-dj$DJANGO
    fi
  - echo $TOXENV
script: tox
after_success: codecov

jobs:
  include:
    - python: "3.7"
      env: TOXENV=docs
    - stage: deploy
      if: tag IS present
      python: "3.7"
      install: skip
      script: skip
      after_success: true
      deploy:
        provider: pypi
        user: codingjoe
        distributions: sdist bdist_wheel
        on:
          tags: true
        password:
          secure: "lxm/SwPL1DC9BNIkDsx5NENx/tsHTG2fVRqZtm50enSyDzZVWwJaks+v4++yMGKD353PNCYUKOvbypwTcDtCMcXaGE01tANoy9Z2FvmRE3FRkPTv+cDJ6oGTwqF5gIug1Y1TZvysg/0a0qEZew2ZlyV1Dm2BECS/5q/9YBBX4Ca7RsRkaJb60CG/bfLZHEIp2ejA2uF5LEZ44UFP86Mfr6BtVzT8FM0gBryKMyd4uN/wPzya8vO5jLhBHb7g/hRZkES9dsaIzTqg5nqTGGEL9qYFzO/1JcegI0o0djOpKkftCKryppXRqouhZVIEzcRvjYUMtIPbLvDGnNIqzacQANQoDHoyhMxUV6puh5+O8FR2+bEA9oYTjTfu2xtzv9AU8eRIvqKhbtbTf4ZSjwCcQ7u8eCox8TXO/xLto5oEyKLTCcfpSD+8JjvYANSMzCnRqmtUUCFVLEUJT7knM7jX+02o3w+PJ9dtLkGykgqNPt31v9/jWJHyRKee3iz1rK74KqLW7GFTl+Rcjk7m+4o3jVDOUIRitd1qcX6CuUxixfS6pjchvoWJ44XwfUl3w04RPoVUfTuu453JjQQGSQ6RrrfaTwJ1R3XepaM5eFRJYyEwvS/t5tLH1/oJnkbptgyUSCLw+1MJZi1Tmer08RU5598koXwYflySt6AAQdGFpwg="
