include *.rst
recursive-include mailauth/templates *
recursive-include mailauth/contrib/admin/templates *
recursive-include mailauth/contrib/admin/static *
recursive-include mailauth/contrib/admin/locale *
prune tests
