name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  lint:
    strategy:
      fail-fast: false
      matrix:
        lint-command:
          - "bandit -r mailauth -x tests"
          - "black --check --diff ."
          - "flake8 ."
          - "isort --check-only --diff ."
          - "pydocstyle ."
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'
      - run: python -m pip install -r requirements.txt
      - run: ${{ matrix.lint-command }}

  dist:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install -y gettext
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: 'lts/*'
      - uses: actions/checkout@v3
      - name: Install Python dependencies
        run: python -m pip install --upgrade pip setuptools wheel twine readme-renderer
      - run: python setup.py sdist bdist_wheel
      - run: python -m twine check dist/*
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'
      - run: python -m pip install --upgrade pip setuptools wheel
      - run: python -m pip install -r requirements.txt
      - run: python setup.py develop
      - run: python setup.py build_sphinx -W

  SQLite:
    needs: [lint, dist, docs]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip setuptools wheel
      - uses: actions/checkout@v3
      - run: python setup.py test
      - name: Codecov
        run: |
          python -m pip install codecov
          codecov

  extras:
    needs: [lint, dist, docs]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        extras:
          - wagtail
        python-version: ["3.10"]
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip setuptools wheel
      - uses: actions/checkout@v3
      - run: python -m pip install -e ".[${{ matrix.extras }}]"
      - run: python setup.py test
      - name: Codecov
        run: |
          python -m pip install codecov
          codecov


  PostgreSQL:
    needs: [lint, dist, docs]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
        django-version:
          - "4.0"
          - "4.1"
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: django
          POSTGRES_PASSWORD: django
        ports:
          - 5432/tcp
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip setuptools wheel
      - uses: actions/checkout@v3
      - run: python -m pip install "psycopg2-binary<2.9" Django~=${{ matrix.django-version }}.0
      - run: python setup.py test
        env:
          DB_PORT: ${{ job.services.postgres.ports[5432] }}
          DB: pg
      - name: Codecov
        run: |
          python -m pip install codecov
          codecov
