name: Release
on:
  release:
    types: [published]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  gh-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update && sudo apt-get install -y gettext
      - uses: astral-sh/setup-uv@v7
      - run: uv run mkdocs gh-deploy --force
  pypi-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: sudo apt-get update && sudo apt-get install -y gettext
      - run: python -m pip install --upgrade pip build wheel
      - run: python -m build --sdist --wheel
      - uses: actions/upload-artifact@v7
        with:
          name: release-dists
          path: dist/
  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - pypi-build
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v8
        with:
          name: release-dists
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
